<div class="row">
	<%= paginate @topics %>

	<div class="button-container">
		<%= render 'partials/buttons/new_topic' %>
		<%= render 'partials/buttons/new_poll' %>
	</div>
</div>

<!-- Forum container -->
<div class='panel panel-primary'>

	<!-- Forum name and description -->
	<div id='forum<%= forum.id %>' class='panel-heading'>
		<h2><%= link_to forum.name, forum_path(forum.id) %></h2>
		<%= forum.description %>
	</div>

	<div class='panel-body'>
		<!-- Forum's subforums -->
		<%= render 'subforums', :parent => forum %>

		<!-- Subforum/topic divider -->
		<%= render 'divider', :forum => forum %>

		<!-- Forum's topics -->
		<%= render 'topics/listing', :forum => forum %>
	</div>

	<!-- Empty stylistic footer -->
	<div class='panel-footer'>
	</div>
</div>