<div class='container'>
	<%= render 'partials/logo' %>

	<%= render 'partials/menu' %>

	<%= render 'partials/breadcrumbs' %>
	
	<%= render @categories %>
</div>
	
<%= render 'partials/footer' %>