<table id='topics_table' class='table table-striped table-hover'>
    <thead>
        <tr>
            <th class="status"><%= t('status') %></th>
            <th class="title"><%= t('title') %></th>
            <th class="posts-count"><%= t('posts') %></th>
            <th class="views-count"><%= t('Views') %></th>
            <th class="last-reply"><%= t('last reply') %></th>
        </tr>
    </thead>
    <tbody>
        <%= render forum.topics %>
    </tbody>
</table>