<div class='container'>
	<%= render 'partials/logo' %>

	<%= render 'partials/menu' %>

	<%= render 'partials/breadcrumbs' %>

	<%= render 'panel', :topic => @topic %>
</div>

<%= render 'partials/footer' %>