<div class='container'>
	<%= render 'partials/logo' %>

	<%= render 'partials/menu' %>

	<%= render 'partials/breadcrumbs' %>

	<%= render "category", :category => @category %>
</div>

<%= render 'partials/footer' %>